<div class="container">
  <div class="row">
  <div class="col s6 offset-s3">
    <%=  image_tag @location.avatar.url %>
      <h3>New Post</h3>
      <%= form_for [@location, @post], url: create_post_path do |f| %>
      <div>
        <%= f.text_field :title, placeholder: "Title" %>
      </div>
      <div>
        <%= f.text_area :content, placeholder: "Content", class: "materialize-textarea" %>
      </div>
      <div>
        <%= f.text_field :addr, placeholder: "Address" %>
      </div>
      <a class="waves-effect waves-light btn"><%= f.submit "Submit"%></a>
      <% end %>
    </div>
  </div>
</div>
