<!DOCTYPE html>
<html>
  <head>
    <title>Vagabonding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Bungee|Inconsolata" rel="stylesheet">

  </head>

  <body>


    <nav id="navbar">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">&nbsp;Vagabond</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if @location %>
          <li><%= link_to "Add Post", new_post_path(@location) %></li>
          <% end %>
          <% if current_user %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

   <% flash.each do |name, msg| %>
   <p>
     <small> <%= name.capitalize %>: <%= msg %> </small>
   </p>
   <% end %>

    <%= yield %>

  </body>
</html>
